body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.nav ul{
    list-style: none;
    background-color: rgb(228, 227, 227);
    text-align: right;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%);
}
.nav li{
    font-size: 1.5em;
    font-family: 'Pridi', serif;
    line-height: 40px;
    text-align: left;
}
.nav a{
    text-decoration: none;
    color: rgb(92, 91, 91);
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s;
}
.nav a:hover{
    background-color: whitesmoke;
    color: #000;
}
.nav a.active{
    background-color: #aaa;
    color: #444;
    cursor: default;
}
.nav li li{
    font-size: .8em;
}

/* Style menu for Larger screens */

@media screen and (min-width: 730px){
    .nav li{
        width: 180px;
        border-bottom: none;
        height: 65px;
        line-height: 65px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -4px;
    }
    .nav a{
        border-bottom: none;
    }
    .nav > ul > li{
        text-align: center;
    }
    .nav > ul > li > a{
        padding-left: 0;
    }

     /* Sum Menu */
    .nav li ul{
        position: absolute;
        display: none;
        width: inherit;
    }
    .nav li:hover ul{
        display: block;
    }
    .nav li ul li{
        display: block;
    }
}

/***********************************************section********************************************************/
section{
    width: 100%;
}
.bg1{
    margin-top: 35px;
    width: 100%;
    height: 620px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/itp.jpg);
    background-position: center bottom;
    background-size: cover;
    align-content: center;
    display: grid;
    justify-content: center;
}
.text-bg{
    border-radius: 0px;
    background-color: rgba(255,255,255,0.4);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    font-size: 45px;
    font-family: 'Prompt', serif;
}
/***********************************************sectionข้อมูล********************************************************/
.bg{
    max-width: 70%;
    margin: 0 auto;
}
.text_p{
    display: block;
    padding: 0;
    margin: 0;
}
.text_p p{
    margin-top: 50px;
    font-size: 1.5em;
    font-family: 'Trirong', serif;
    color: rgb(36, 36, 36);
}
.photo{
    padding: 0;
    margin: 0;
}
.photo img{
    max-width: 70%;
    margin: auto auto;
    display: block;
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%);
}
.photo figcaption{
    color: rgb(105, 105, 105);
    font-family: 'Pridi', serif;
    font-size: 1.2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

/***********************************************section ad********************************************************/

hr.style1{
	border-top: 1.3px solid #8c8b8b;
}
.box-ad{
    max-width: 75%;
    margin: 0 auto;
}
.text-ad{
    margin-top: 50px;
}
.text-ad h1{
    font-family: 'Prompt', serif;
    font-size: 1.5em;
}
.text-ad p{
    font-family: 'Prompt', serif;
    color: #444;
    font-size: 1em;
}
/***********************************************section map********************************************************/

.boxmap{
    max-width: 75%;
    margin: 0 auto;
}
.text-map{
    margin-top: 50px;
}
.text-map h1{
    font-family: 'Prompt', serif;
    font-size: 1.5em;
}
.map-box iframe{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*            Footer                 */
footer{
    max-width: 100%;
    background: #222;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    font-family: 'Prompt', serif;
}
.bgf{
    max-width: 400px;
    color: rgb(201, 201, 201);
    padding: 60px;
    padding-top:0 ;
}
@media screen and (max-width: 700px){
    footer{
        width: 100%;
        display: table;
        justify-content: center;
    }
}